.Loading{
    display: flex;
    height: auto;
    padding-top: 200px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.logoLoader{
   width: 500px;
   height: auto;
   
}
